---
import "../../styles/global.css";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Navbar from "../../components/Navbar.astro";
import DefaultHeroImage from "../../assets/blog-placeholder-5.jpg";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <title></title>
  </head>
  <body>
    <Navbar />

    <main class="flex flex-col w-full">
      <section class="flex flex-row w-full justify-center mt-20">
        <ul class="flex flex-col justify-center items-center basis-4/12">
          {
            posts.map((post) => (
              <li class="py-5 mx-0 px-2 md:mx-0 min-w-[800px] max-w-[800px]">
                <a href={`/blog/${post.id}/`}>
                  <div class="flex flex-row border-[1px] rounded-2xl p-5 items-start">
                    <div class="pr-10 grow flex flex-col h-full">
                      <h1 class="title text-2xl">{post.data.title}</h1>

                      <p class="text-lg text-gray-500 grow">
                        {post.data.description}
                      </p>

                      <p class="shrink align-bottom mt-auto">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>

                    <div class="shrink">
                      {post.data.heroImage ? (
                        <Image
                          width={300}
                          height={150}
                          src={post.data.heroImage}
                          alt=""
                          class="rounded-2xl min-w-[300px]"
                        />
                      ) : (
                        <Image
                          width={300}
                          height={150}
                          src={DefaultHeroImage}
                          alt=""
                          class="rounded-2xl min-w-[300px]"
                        />
                      )}
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>

      <div class="my-24">
        <Footer />
      </div>
    </main>
  </body>
</html>
