---
import "../../styles/global.css";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Navbar from "../../components/Navbar.astro";
import DefaultHeroImage from "../../assets/blog-placeholder-5.jpg";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <title></title>
  </head>
  <body>
    <Navbar />

    <main class="flex flex-col w-full">
      <section class="flex flex-row w-full justify-center mt-0 md:mt-20 px-3">
        <ul class="flex flex-col justify-center items-center md:basis-4/12">
          {
            posts.map((post) => (
              <li class="py-5 md:mx-0 md:min-w-[800px] md:max-w-[800px]">
                <a href={`/blog/${post.id}/`}>
                  <div class="flex flex-row border-[1px] rounded-2xl items-start p-3 md:p-5">
                    <div class="flex grow flex-col h-full basis-3/4 pr-3">
                      <h1 class="title text-lg md:text-2xl">
                        {post.data.title}
                      </h1>

                      <p class="md:text-lg text-gray-500 grow hidden md:block">
                        {post.data.description}
                      </p>

                      <p class="align-bottom mt-auto">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>

                    <div class="flex basis-1/4">
                      {post.data.heroImage ? (
                        <Image
                          width={300}
                          height={150}
                          src={post.data.heroImage}
                          alt=""
                          class="rounded-2xl object-cover min-w-[180px] min-h-[120px] max-h-[120px] md:min-w-[300px] md:min-h-[160px] md:max-h-[160px]"
                        />
                      ) : (
                        <Image
                          width={300}
                          height={150}
                          src={DefaultHeroImage}
                          alt=""
                          class="rounded-2xl min-w-[180px] md:min-w-[300px]"
                        />
                      )}
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>

      <div class="my-24">
        <Footer />
      </div>
    </main>
  </body>
</html>
